  <!-- footer for each page -->
  <footer class="bg-dark text-white text-center py-4 mt-5">
    <div class="container">
      <!-- current year gets updated on its own -->
      <p class="mb-2">© <%= new Date().getFullYear() %> Damil Randhawa</p>

      <!-- Font Awesome icons for my links -->
      <a href="https://github.com/damil123/" target="_blank" class="text-white me-3">
        <i class="fa-brands fa-github fa-lg"></i>
      </a>
      <a href="http://www.linkedin.com/in/damil-randhawa" target="_blank" class="text-white">
        <i class="fa-brands fa-linkedin fa-lg"></i>
      </a>
    </div>
  </footer>

  <!-- gets boostrap form local -->
  <script src="/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
